<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ed:glossary xmlns:text="http://www.openfuxml.org/text" xmlns:ofx="http://www.openfuxml.org" xmlns:layout="http://www.openfuxml.org/layout" xmlns:media="http://www.openfuxml.org/media" xmlns:ed="http://www.openfuxml.org/editorial" xmlns:wiki="http://www.openfuxml.org/wiki" xmlns:l="http://www.openfuxml.org/list" xmlns:table="http://www.openfuxml.org/table">
    <ed:term code="c1">
    	<text:text classifier="name">Cookie</text:text>
    	<ofx:paragraph lang="en">
    		Cookies are little pieces of information, that can be stored on your computer by websites.
    		They are used for remembering a user on the server and have many more purposes.
    	</ofx:paragraph>
    	<ofx:paragraph lang="fr">
    		Cookies FR
    	</ofx:paragraph>
	</ed:term>
	<ed:term code="c2">
        <text:text classifier="name">web browser</text:text>
        <ofx:paragraph lang="en">
            Web browser is a programme used to display websites and interact with them.
        </ofx:paragraph>
        <ofx:paragraph lang="fr">
            web browser FR
        </ofx:paragraph>
    </ed:term>
    <ed:term code="c3">
        <text:text classifier="name">Rich Internet Application</text:text>
        <ofx:paragraph lang="en">
            This is a programme to use with a web browser. The aim is to looks like a web page, but when using it, for it to feel like a desktop application.
        </ofx:paragraph>
        <ofx:paragraph lang="fr">
            Rich Internet Application FR
        </ofx:paragraph>
    </ed:term>
    <ed:term code="c4">
        <text:text classifier="name">Login</text:text>
        <text:text classifier="text">login</text:text>
        <ofx:paragraph lang="en">
            Login is composed of an username and a password. They will be authenticated by the programme and this grants special access rights.
            This process is also carried out for security reasons.
        </ofx:paragraph>
        <ofx:paragraph lang="fr">
            Login FR
        </ofx:paragraph>
    </ed:term>
    <ed:term code="c5">
        <text:text classifier="name">Landing Page</text:text>
        <text:text classifier="text">landing page</text:text>
        <ofx:paragraph lang="en">
           First page of a web site, commonly known as the "home" page.
        </ofx:paragraph>
        <ofx:paragraph lang="fr">
            Landing page FR
        </ofx:paragraph>
    </ed:term>
    <ed:term code="c6">
        <text:text classifier="name">Tooltip</text:text>
        <text:text classifier="text">tooltip</text:text>
        <ofx:paragraph lang="en">
            Tooltips are short and helpful advices about a button and its action.
        </ofx:paragraph>
        <ofx:paragraph lang="fr">
            Tooltip FR
        </ofx:paragraph>
    </ed:term>
</ed:glossary>
