
body
{
	background: #DDD;
	color: #333;
	font-family: "Arial", Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 0;
	background: #DDD url("#{resource['aupGfx:background.jpg']}") repeat fixed;
}

a { color: #D82B00; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }

/* PrimeFaces */
.ui-outputlabel{
	font-weight: bold;
}

/* Main Styles */

#container
{
	margin: 0 auto;
	width: 982px;
	background: #FFF;
	padding: 0 0 20px 0;
	
	-moz-box-shadow: 0 0 10px #AAA; -webkit-box-shadow: 0 0 10px #AAA; box-shadow: 0 0 10px #AAA;
}


/* HEADER */
.header {
	width: 970px;
	height: 36px;
	padding: 3px 0 0 0;
	border-bottom: 2px solid #EEE;
	background: #FFF;
}
.header ul {
	float: right;
	width: auto;
	margin: 0 15px 0 0;
	list-style-type: none;
	overflow: hidden;
}		
.header ul li {
	display: inline;
}		
.header ul li a {
	float: left;
	line-height: 36px;
	padding: 0 10px;
	margin: 0 0 0 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #333;
	background: #FFF;
}
.header ul li.active > a {
	background: #FFF;
	border-bottom: 2px solid #D82B00;
	color: #D82B00;
}

.header li a:hover
{
	background: #FFF;
	border-bottom: 2px solid #D82B00;
	color: #333;
}

.logo{
	float: left;
	z-index: 9994;
	margin-top: 5px;
	margin-left: 10px;
}

.aupHeadline{

	padding: 6px 20px;
	margin: 10px;
	background: #B90000;
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: right;
	height: 18px;
}
.aupHeadline a{color: #FFF;}
		
.maincontent
{
	width: 100%x;
	line-height: 22px;
	padding: 5px 10px 0;
}
	
.maincontent p {
	margin: 0 0 15px 0;
}
.maincontent h1, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent h5 {
	letter-spacing: -1px;
	font-weight: bold;
}
.maincontent h1 { font-size: 20px;}
.maincontent h2 { font-size: 18px; }
.maincontent h3 { font-size: 16px;
margin-top: 8px;
}
.maincontent h4 { font-size: 14px; }
.maincontent h5 { font-size: 12px; }

.maincontent blockquote { background: #EEE; border-left: 3px solid #D82B00; padding: 15px; margin: 0 0 15px 0; font-style: italic; line-height: 18px; }

#maincont #mainleft
{
	float: left;
	width: 190px;
	padding: 0 15px;
	font-size: 11px;
}

.aupContentLeft {
	float: left;
	width: 171px;
	padding: 5px;
}

.aupContentCenter {
	float: left;
}

.aupContentRight {
	float: left;
	width: 171px;
	padding: 5px;
}

/* SIDEBAR MENU */

.sidemenu {width:100%;}
.sidemenu ul {margin:0; padding:0;}
.sidemenu li {list-style: none;}
.sidemenu ul.top-level {background: #EEE;}
.sidemenu ul.top-level li
{
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

.sidemenu a {
 color: #D82B00;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;                   
 text-decoration:none;
 width:100%;
}
.sidemenu a:hover{
 color: #FFF;
 background: #D82B00;
}


		
		#maincont #mainright
		{
			float: left;
			width: 580px;
			padding: 0 0 0 20px;
		}
		
.aupFooter{
	margin: 0 auto;
	width: 970px;
	padding: 10px;
	font-size: 11px;
	color: #777;
}
	
.aupFooter .aupFooterLeft{
	float: left;
	width: 410px;
}
		
.aupFooter .aupFooterRight{
	float: right;
	width: 400px;
	text-align: right;
}
	
/* Remove the padding within the panel*/            
.auPanelWithGrid .ui-panel-content{
	padding: 0 !important;
/*    border-style: none !important;*/
}

/* Removes borders from cells of PanelGrid */
.auPanelWithGrid .ui-panelgrid .ui-panelgrid-cell {
	border-style: none !important;
}

/* Removes borders from PanelGrid rows */
.auPanelWithGrid .ui-panelgrid .ui-widget-content {
	border-style: none !important;
}
	
/* Make the PanelGrid fill the whole Panel */
.auPanelWithGrid .ui-panelgrid {
	width: 100%;
}
.aupBold{font-weight: bold;}
.aupRemark{color: red;}		
.w100 {width: 100%;}

.aupFontUnicode {
	font-family: Arial Unicode MS, Lucida Grande
}


/* PF Font size */
.ui-widget, .ui-widget .ui-widget {font-size: 11px !important;}

/* PF-3.5 Font size
.ui-widget {font-size: 90%;}
.ui-widget .ui-widget {font-size: 100%;}
*/

/* Linebreak in PF-3.5 tables */
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {white-space: normal !important;} 

/* PF-3.5 Titlebar too big */
.ui-panel-titlebar{height: 12px;}
.ui-panel-title{top: -5px;position: relative;}

/* PF selectonemenu */ 
.ui-selectonemenu{width:100% !important;}

/* PF: DONT SET THIS SINCE IT RUINS THE LAYOUT!
.ui-selectonemenu-label {width:100% !important;}
*/

/* PF treenode line break problem */
.ui-treenode-label {white-space: pre-line;}

/* PF version 5 has changed handling of table width. */
.ui-datatable table, .ui-datatable-resizable table {
    table-layout: auto !important;
}

.ui-datatable-scrollable table {
    table-layout: fixed !important;
}


/* Defines the columns for multi-column standard layouts */
.auPwg05 {
	width: 05% !important;
	border-style: none;
}

.auPwg10 {
	width: 10% !important;
	border-style: none;
}

.auPwg15 {
	width: 15% !important;
	border-style: none;
}

.auPwg20 {
	width: 20% !important;
	border-style: none;
}

.auPwg25 {
	width: 25% !important;
	border-style: none;
}

.auPwg30 {
	width: 30% !important;
	border-style: none;
}

.auPwg35 {
	width: 35% !important;
	border-style: none;
}

.auPwg40 {
	width: 40% !important;
	border-style: none;
}

.auPwg45 {
	width: 45% !important;
	border-style: none;
}

.auPwg50 {
	width: 50% !important;
	border-style: none;
}

.auPwg55 {
	width: 55% !important;
	border-style: none;
}

.auPwg60 {
	width: 60% !important;
	border-style: none;
}

.auPwg65 {
	width: 65% !important;
	border-style: none;
}

.auPwg70 {
	width: 70% !important;
	border-style: none;
}

.auPwg75 {
	width: 75% !important;
	border-style: none;
}

.auPwg80 {
	width: 80% !important;
	border-style: none;
}

.auPwg85 {
	width: 85% !important;
	border-style: none;
}

.auPwg90 {
	width: 90% !important;
	border-style: none;
}

.auPwg95 {
	width: 95% !important;
	border-style: none;
}