.aupBreadcrumbs {
    list-style-type:   none;
	text-align: right;
}
    
.aupBreadcrumbs li {
	display: inline;
}

.aupBreadcrumbs  li:not(:first-child):before {
	content: '|'
}


.aupBreadcrumbs li a {
	padding: 0 7px 0 10px;
}