<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ofx:section xmlns:ofx="http://www.openfuxml.org"
		xmlns:text="http://www.openfuxml.org/text"
	id="section.development.environment.config">
	
	<ofx:title>Latex</ofx:title>
	
	<ofx:paragraph lang="en">
		The proposed location for the developers project directories is /Users/username/Dropbox/dev/project.
		Additional project sprecific shared dropbox folders (like versions or db) can be moved in this directors
	</ofx:paragraph>
	
	<ofx:paragraph lang="en">
		/Users/username/.m2/exlp.xml
		
		point the configuration file to /Users/username/Dropbox/dev/project/properties.txt
	</ofx:paragraph>
	
</ofx:section>