.pf-panel-header-action-icon{
    float:right;
    cursor:pointer;
    margin-left: 5px;
}

.pf-dataTable-header-action-icon{
	cursor:pointer;
	margin-left: 5px;
	float: right;
	padding-top: 5px;
}

.pf-dataTable-footer-action-icon{
    cursor:pointer;
	text-align: right;
}


.pf-dialog-header-action-icon{
	cursor:pointer;
	padding-top: 5px;
	margin-left: 5px;
	float: right;
}
.pf-digalog-action .ui-dialog-title{
	width: 100%;
}


 /* http://stackoverflow.com/questions/6636813/best-practice-for-readonly-edition-modes-in-jsf */
.pfInputTextDisabled {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.pf-panel-with-tree {
	.ui-panel-content.padding: 0px;
}

.pf-panel-with-tree .ui-tree {
	border: none; width: 100%;
}