.pf-panel-header-action-icon{
    float:right;
    cursor:pointer;
    margin-left: 5px;
}

.pf-dataTable-header-action-icon{
	cursor:pointer;
	margin-left: 5px;
	float: right;
	padding-top: 5px;
}

.pf-dataTable-footer-action-icon{
    cursor:pointer;
	text-align: right;
}


 /* http://stackoverflow.com/questions/6636813/best-practice-for-readonly-edition-modes-in-jsf */
.pfInputTextDisabled {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}