<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ed:glossary xmlns:text="http://www.openfuxml.org/text" xmlns:ofx="http://www.openfuxml.org" xmlns:layout="http://www.openfuxml.org/layout" xmlns:media="http://www.openfuxml.org/media" xmlns:ed="http://www.openfuxml.org/editorial" xmlns:wiki="http://www.openfuxml.org/wiki" xmlns:l="http://www.openfuxml.org/list" xmlns:table="http://www.openfuxml.org/table">
    <ed:term code="c1">
    	<text:text>Cookie</text:text>
    	<ofx:paragraph>
    		Cookies are little pieces of information, that can be stored on your computer by websites.
    		They are used for remembering a user and many more purposes.
    	</ofx:paragraph>
	</ed:term>
</ed:glossary>
